# Server
PORT=3000
CORS_ORIGIN=http://localhost:4200

# Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=vejas_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://admin:changeme@localhost:5432/vejas_db?schema=public

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# Auth
CRYPT_SALT=10
JWT_SECRET_KEY=change-me
JWT_SECRET_REFRESH_KEY=change-me-too
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

# Logging
LOG_LEVEL=2
LOG_DIR=logs
